.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.login-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 50px;
    border-radius: 20px;
}

.login-form img {
    width: 300px;
}

.login-form input {
    padding: 15px;
}